@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100&display=swap');

* {
    margin: 0;
    padding: 0;
    text-transform: capitalize;
    font-family: 'Lato', sans-serif;
    box-sizing: border-box;
    border: none;
    outline: none;
    text-decoration: none;
    list-style: none;
    cursor: pointer;
}

body {
    background-color: black;
    color: white;
    animation: fade-in 2s ease forwards;
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.navbar {
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    border-bottom: 1px solid white;
}

.logo img {
    flex: 1;
    padding-top: 10px;
    width: 280px;
}

.menu {
    list-style: none;
    text-decoration: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.menu li {
    list-style: none;
    margin-right: 45px;
    position: relative;
}

.menu li a {
    text-decoration: none;
    color: white;
    font-size: 3vh;
    position: relative;
}

.menu li a::after {
    content: '';
    display: block;
    width: 0;
    height: 1px;
    background-color: white;
    position: absolute;
    bottom: -3px;
    left: 0;
    transition: width 0.3s ease;
    transform-origin: left;
}

.menu li a:hover::after {
    width: 100%;
}
body {
    background-color: black;
  }
  
  h1,h2,h3,h4,h5 {
    font-family: 'Oswald', sans-serif;
    font-weight: 700;
    color: white;
  
  }
  
  h1 {
    text-align: center;
    font-size: 5rem;
    
  }
  .row {
    width: 100%;
    margin-top: 25%;
  }