@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100&display=swap');

* {
    margin: 0;
    padding: 0;
    text-transform: capitalize;
    font-family: 'Lato', sans-serif;
    box-sizing: border-box;
    border: none;
    outline: none;
    text-decoration: none;
    list-style: none;
    cursor: pointer;
}

body {
    background-color: #0E0A0B;
    color: white;
    animation: fade-in 2s ease forwards;
    font-size: 16px;
    /* Set a default font size for the body */
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.navbar {
    background-color: 0E0A0B;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1.25rem;
    /* Use rem for padding */
    border-bottom: 0.0625rem solid white;
    /* Use rem for border width */
}

.logo img {
    flex: 1;
    padding-top: 0.625rem;
    /* Use rem for padding */
    width: 17.5rem;
    /* Use rem for width */
}

.menu {
    list-style: none;
    text-decoration: none;
    margin-top: 1.5625rem;
    /* Use rem for margin */
    margin-bottom: 1.5625rem;
    /* Use rem for margin */
    display: flex;
    flex-wrap: wrap;
}

.menu li {
    list-style: none;
    margin-right: 2.8125rem;
    /* Use rem for margin */
    margin-bottom: 0.625rem;
    /* Use rem for margin */
    position: relative;
}

.menu li a {
    text-decoration: none;
    color: white;
    font-size: 3.5vh;
    /* Use rem for font-size */
    position: relative;
}

.menu li a::after {
    content: '';
    display: block;
    width: 0;
    height: 0.03125rem;
    /* Use rem for height */
    background-color: white;
    position: absolute;
    bottom: -0.1875rem;
    /* Use rem for positioning */
    left: 0;
    transition: width 0.3s ease;
    transform-origin: left;
}

.menu li a:hover::after {
    width: 100%;
}

.mid h1 {
    margin: 2.5rem;
    /* Use rem for margin */
    padding-top: 1.875rem;
    /* Use rem for padding */
    font-size: 3rem;
    /* Use rem for font-size */
    padding-left: 3rem;
    /* Use rem for padding */
}

.core-team {
    padding: 0.9375rem;
    /* Use rem for padding */
    margin-top: 1.2rem;
    /* Use rem for margin */
}

.mid-head {
    display: flex;
    padding-left: 4.375rem;
    /* Use rem for padding */
    font-size: 2.5rem;
    /* Use rem for font-size */
}

.container {
    margin: 3.125rem;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
}

.square {
    width: 24rem;
    /* Use rem for width */
    height: 27rem;
    /* Use rem for height */
    border-radius: 2.5rem;
    /* Use rem for border-radius */
    border: 0.125rem solid #eee;
    /* Use rem for border width */
    background-color: transparent;
    margin-right: 0.625rem;
    /* Use rem for margin */
    text-align: center;
    position: relative;
    overflow: hidden;
}

.square img {
    width: 100%;
    height: 100%;
    padding: 0.4375rem;
    /* Use rem for padding */
    border-radius: 2.5rem;
    /* Use rem for border-radius */
    transition: transform 0.25s ease-in-out;
}

.name {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 100%);
    padding: 0.625rem;
    /* Use rem for padding */
    color: white;
    font-weight: lighter;
    opacity: 1;
    font-family: Arial, Helvetica, sans-serif;
}

.designation {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.9) 100%);
    padding: 0.625rem;
    /* Use rem for padding */
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
    opacity: 0;
}

.square:hover img {
    transform: scale(1.05);
}

.square:hover .name {
    opacity: 0;
}

.square:hover .designation {
    opacity: 1;
}

.container-1 {
    margin: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}

.square-1 .square-last {
    flex: 0 0 calc(1.25rem - 1.25rem);
    /* Use rem for sizing */
    margin: 0.625rem;
    /* Use rem for margin */
}

.core-team h2 {
    font-size: 1rem;
}

/* @media screen and (max-width: 767px) {
    .container-1 .square-1 .square-last {
        flex: 0 0 calc(2.125rem - 1.25rem);
    }
} */

.square-1 {
    width: 13rem;
    /* Use rem for width */
    height: 15rem;
    /* Use rem for height */
    border-radius: 1.5625rem;
    /* Use rem for border-radius */
    border: 0.125rem solid #eee;
    /* Use rem for border width */
    background-color: transparent;
    margin: 1.25rem;
    /* Use rem for margin */
    text-align: center;
    position: relative;
    overflow: hidden;
}

.square-last {
    width: 13rem;
    /* Use rem for width */
    height: 15rem;
    /* Use rem for height */
    border-radius: 1.5625rem;
    /* Use rem for border-radius */
    border: 0.125rem solid black;
    /* Use rem for border width */
    background-color: transparent;
    margin: 1.25rem;
    /* Use rem for margin */
    text-align: center;
    position: relative;
    overflow: hidden;
}

.square-1 img {
    width: 100%;
    height: 100%;
    padding: 0.25rem;
    /* Use rem for padding */
    border-radius: 1.5625rem;
    /* Use rem for border-radius */
    transition: transform 0.25s ease-in-out;
}

.name-1 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.9) 100%);
    padding: 0.625rem;
    /* Use rem for padding */
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
    /* font-size: 0.125rem; Use rem for font-size */
    opacity: 1;
}

.designation-1 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.9) 100%);
    padding: 0.625rem;
    /* Use rem for padding */
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
    /* font-size: 0.125rem; Use rem for font-size */
    opacity: 0;
}

.square-1:hover img {
    transform: scale(1.05);
}

.square-1:hover .name-1 {
    opacity: 0;
}

.square-1:hover .designation-1 {
    opacity: 1;
}

#particles-js {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -1;
}

/* Existing CSS rules */

/* For screens up to 767px (mobile) */
@media screen and (max-width: 767px) {
    .container {
        margin: 0.1rem;
        flex-wrap: wrap;
        justify-content: center;
    }

    .square {
        width: 14.4rem;
        height: 16.2rem;
        margin: 1.25rem;
        font-size: 0.75rem;
    }

    .container-1 {
        margin: 0;
        flex-wrap: wrap;
        justify-content: center;
    }

    .square-1 {
        width: 9.1rem;
        height: 10.5rem;
    }

    .core-team h2 {
        font-size: 0.85rem;
    }

    .mid-head {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 1.5rem;
        padding-left: 0;
    }

    .mid h1 {
        margin: 0.5rem;
        font-size: 2rem;
        padding-left: 6rem;
    }

    .square-last {
        display: none;
    }
}

/* For screens from 768px to 1023px (tablet) */
@media screen and (min-width: 768px) and (max-width: 1023px) {
    .container {
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .square {
        width: calc(33.33333333% - 1.25rem);
        margin-right: 1.25rem;
        margin-bottom: 1.25rem;
    }

    .container-1 {
        flex-wrap: wrap;
        justify-content: center;
    }

    .square-1 {
        width: calc(33.33333333%);
        margin-right: 1.25rem;
        margin-bottom: 1.25rem;
    }
}

/* For screens 1024px and larger (desktop) */
@media screen and (min-width: 1024px) {
    .container {
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .square {
        width: calc(30%);
        margin-right: 1.25rem;
        margin-bottom: 1.25rem;
    }

    .container-1 {
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .square-1 {
        width: 16%;
        margin-right: 1.25rem;
        margin-bottom: 1.25rem;
    }
}

/* Mobile Menu Styles */
.mobile-menu-button {
    display: none;
    background-color: #0E0A0B;
    color: white;
    text-align: right;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 24px;
}

.mobile-menu-button .menu-icon {
    font-size: 24px;
    line-height: 1;
    cursor: pointer;
}


.mobile-nav {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    background-color: #0E0A0B;
    z-index: 1000;
}

.mobile-menu-list {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: center;
}

.mobile-menu-list li {
    margin: 15px 0;
}

.mobile-menu-list a {
    text-decoration: none;
    color: white;
    font-size: 18px;
}

/* Media Query for Mobile */
@media (max-width: 768px) {
    .menu {
        display: none;
    }

    .mobile-menu-button {
        display: block;
        z-index: 2;
    }

    .mobile-nav.active {
        display: block;
    }
}